KAFKA_BOOTSTRAP_SERVERS=localhost:9092

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=iot_flink
POSTGRES_USER=iot_user
POSTGRES_PASSWORD=iot_password

FLINK_PARALLELISM=1
FLINK_CHECKPOINT_INTERVAL=10s

WATERMARK_DELAY=10

KAFKA_CONNECTOR_JAR=jars/flink-sql-connector-kafka-4.0.1-2.0.jar
JDBC_CORE_JAR=jars/flink-connector-jdbc-core-4.0.0-2.0.jar
JDBC_POSTGRES_JAR=jars/flink-connector-jdbc-postgres-4.0.0-2.0.jar
POSTGRES_DRIVER_JAR=jars/postgresql-42.7.11.jar